<?xml version="1.0"?>
<!-- RH-P12-RN(A) only — RViz real gripper feedback -->
<robot name="rh_p12_gripper">
	<material name="rh_gripper_grey">
		<color rgba="0.2 0.2 0.2 1"/>
	</material>

	<link name="world"/>
	<joint name="world_to_base" type="fixed">
		<parent link="world"/>
		<child link="rh_p12_rn_base"/>
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</joint>

	<link name="rh_p12_rn_base">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="package://dsr_description2/meshes/rh_p12_rn_a/base.stl" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="rh_gripper_grey"/>
		</visual>
	</link>

	<joint name="rh_r1" type="revolute">
		<parent link="rh_p12_rn_base"/>
		<child link="rh_p12_rn_r1"/>
		<origin xyz="0.0 0.008 0.048" rpy="0 0 0"/>
		<axis xyz="1 0 0"/>
		<limit lower="-0.001" upper="1.101" velocity="6.5" effort="1000"/>
	</joint>
	<link name="rh_p12_rn_r1">
		<visual>
			<geometry>
				<mesh filename="package://dsr_description2/meshes/rh_p12_rn_a/r1.stl" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="rh_gripper_grey"/>
		</visual>
	</link>

	<joint name="rh_r2" type="revolute">
		<parent link="rh_p12_rn_r1"/>
		<child link="rh_p12_rn_r2"/>
		<origin xyz="0.0 0.0493634 0.0285" rpy="0 0 0"/>
		<axis xyz="-1 0 0"/>
		<limit lower="-0.001" upper="1.101" velocity="6.5" effort="1000"/>
		<mimic joint="rh_r1" multiplier="1"/>
	</joint>
	<link name="rh_p12_rn_r2">
		<visual>
			<geometry>
				<mesh filename="package://dsr_description2/meshes/rh_p12_rn_a/r2.stl" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="rh_gripper_grey"/>
		</visual>
	</link>

	<joint name="rh_l1" type="revolute">
		<parent link="rh_p12_rn_base"/>
		<child link="rh_p12_rn_l1"/>
		<origin xyz="0.0 -0.008 0.048" rpy="0 0 0"/>
		<axis xyz="-1 0 0"/>
		<limit lower="-0.001" upper="1.101" velocity="6.5" effort="1000"/>
		<mimic joint="rh_r1" multiplier="1"/>
	</joint>
	<link name="rh_p12_rn_l1">
		<visual>
			<geometry>
				<mesh filename="package://dsr_description2/meshes/rh_p12_rn_a/l1.stl" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="rh_gripper_grey"/>
		</visual>
	</link>

	<joint name="rh_l2" type="revolute">
		<parent link="rh_p12_rn_l1"/>
		<child link="rh_p12_rn_l2"/>
		<origin xyz="0.0 -0.0493634 0.0285" rpy="0 0 0"/>
		<axis xyz="1 0 0"/>
		<limit lower="-0.001" upper="1.101" velocity="6.5" effort="1000"/>
		<mimic joint="rh_r1" multiplier="1"/>
	</joint>
	<link name="rh_p12_rn_l2">
		<visual>
			<geometry>
				<mesh filename="package://dsr_description2/meshes/rh_p12_rn_a/l2.stl" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="rh_gripper_grey"/>
		</visual>
	</link>
</robot>
